.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Make sure modal content is above overlay */
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    text-align: left;
    width: 30%; /* Adjust width as necessary */
}

.form-group input[type="text"] {
    width: 70%; /* Adjust width as necessary */
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
}

.color-options {
    display: flex;
    margin: 10px 0 20px;
    gap:20px;
}

.color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.create-button {
    background-color: #00008b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: end;
}

.create-button:hover {
    background-color: #000070;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
